`<!-- FB's Banner With List Product Area End Here -->
<!-- Begin FB's Banner Wrap Area -->
<div class="fb-banner_wrap">
    <div class="container">
        <div class="row">
            <!-- Begin FB's Banner Area -->
            <div class="col-lg-6">
                <div class="fb-banner fb-img-hover-effect pb-sm-30 pb-xs-30">
                    <a href="#">
                        <img src="~/Content/assets/images/banner/3_7.jpg" alt="FB'S Banner">
                    </a>
                </div>
            </div>
            <!-- FB's Banner Area End Here -->
            <!-- Begin FB's Banner Area -->
            <div class="col-lg-6">
                <div class="fb-banner fb-img-hover-effect pb-sm-30 pb-xs-30">
                    <a href="#">
                        <img src="~/Content/assets/images/banner/3_8.jpg" alt="FB'S Banner">
                    </a>
                </div>
            </div>
            <!-- FB's Banner Area End Here -->
        </div>
    </div>
</div>
<!-- FB's Banner Wrap Area End Here -->
<!-- Begin FB's Product Three | Home Three Area -->
<div class="fb-product_wrap-3 fb-product-list_wrap-3 pt-40 pb-30 pt-sm-0 pt-xs-0">
    <div class="container">
        <div class="row">
            <!-- Begin FB's Product List 3 Area -->
            <div class="col-lg-4">
                <div class="fb-section_title-2">
                    <h2>New Products</h2>
                </div>
                <div class="fb-single-product-slide_wrap bg-white mb-30">
                    <div class="fb-product-list_active-3 owl-carousel">
                        <div class="row">
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pt-25">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-5_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-5_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-4_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-4_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pb-15">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-3_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-3_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                        </div>
                        <div class="row">
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pt-25">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-1_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-1_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-2_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-2_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pb-15">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-3_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-3_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- FB's Product List 3 Area End Here -->
            <!-- Begin FB's Product List 3 Area -->
            <div class="col-lg-4">
                <div class="fb-section_title-2">
                    <h2>Bestsellers</h2>
                </div>
                <div class="fb-single-product-slide_wrap bg-white mb-30">
                    <div class="fb-product-list_active-3 owl-carousel">
                        <div class="row">
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pt-25">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-4_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-4_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-2_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-2_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pb-15">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-1_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-1_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                        </div>
                        <div class="row">
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pt-25">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-5_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-5_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-6.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-2_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pb-15">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-3_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-3_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- FB's Product List 3 Area End Here -->
            <!-- Begin FB's Product List 3 Area -->
            <div class="col-lg-4">
                <div class="fb-section_title-2">
                    <h2>Random Products</h2>
                </div>
                <div class="fb-single-product-slide_wrap bg-white mb-30">
                    <div class="fb-product-list_active-3 owl-carousel">
                        <div class="row">
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pt-25">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-3_2.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-3_1.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                        <span class="old-price">$20.50</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-2_2.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-2_1.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pb-15">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-4_2.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-4_1.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                        </div>
                        <div class="row">
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pt-25">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-5_2.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-5_1.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-2_2.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-6.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                            <!-- Begin Sigle Product Area -->
                            <div class="single-product pb-15">
                                <!-- Begin Product Image Area -->
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/Content/assets/images/product/3-1_1.jpg" alt="FB'S Prduct">
                                        <img class="secondary-img" src="~/Content/assets/images/product/3-1_2.jpg" alt="FB'S Prduct">
                                    </a>
                                </div>
                                <!-- Product Image Area End Here -->
                                <!-- Begin Product Content Area -->
                                <div class="product-content">
                                    <h2 class="product-name">
                                        <a href="single-product-2.html">Printed Chiffon Dress</a>
                                    </h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="no-star"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$16.40</span>
                                    </div>
                                </div>
                                <!-- Product Content Area End Here -->
                            </div>
                            <!-- Sigle Product Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- FB's Product List 3 Area End Here -->
        </div>
    </div>
</div>
<!-- FB's Product Three | Home Three Area End Here -->
<!-- Begin FB's Footer Area -->
